@model RoomModel

@{
    ViewData["Title"] = "Eliminar habitación";
}
<h3>¿Está seguro que desea eliminar?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Nombre:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roomName)
        </dd>
        <dt class="col-sm-2">
            Descripción:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roomInfo)
        </dd>
        <dt class="col-sm-2">
            Precio:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roomPrice)
        </dd>
        <dt class="col-sm-2">
            Estado:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roomStatus)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="IdRoom" type="hidden" class="form-control" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
    </form>
</div>