@model RoomModel

@{
    ViewData["Title"] = "Eliminar habitación";
}
<h3>¿Está seguro que desea eliminar?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Nombre:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roomName)
        </dd>
        <dt class="col-sm-2">
            Descripción:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roomInfo)
        </dd>
        <dt class="col-sm-2">
            Precio:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roomPrice)
        </dd>
        <dt class="col-sm-2">
            Estado:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roomStatus)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="IdRoom" type="hidden" class="form-control" />
        <div class="col-4 offset-2 row">
            <div class="col">
                <button type="submit" class="btn btn-danger w-100"><i class="fa-solid fa-trash"></i> Borrar</button>
            </div>
            <div class="col">
                <a class="btn btn-info w-100" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Cancelar</a>
            </div>
        </div>
    </form>
</div>