@model RoomModel

@{
    ViewData["Title"] = "Nueva habitación";
}

<h1>Editar información de habitación</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <input asp-for="IdRoom" type="hidden" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="roomName" class="form-label">Nombre habitación</label>
                    <input asp-for="roomName" type="text" class="form-control" />
                    <span asp-validation-for="roomName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="roomInfo" class="form-label">Información</label>
                    <input asp-for="roomInfo" type="text" class="form-control" />
                    <span asp-validation-for="roomInfo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdType" class="form-label">Tipo de habitación</label>
                    <select asp-for="IdType"
                            asp-items="@ViewBag.RoomsTypes"
                            class="form-select">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="IdType" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="roomPrice" class="form-label">Precio</label>
                    <input asp-for="roomPrice" type="number" class="form-control" />
                    <span asp-validation-for="roomInfo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="roomStatus" class="form-label">Estado</label>
                    <select asp-for="roomStatus" class="form-select">
                        <option value="disponible">Disponible</option>
                        <option value="no disponible">No disponible</option>
                    </select>
                    <span asp-validation-for="roomStatus" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdHotel" class="form-label">Hotel</label>
                    <select asp-for="IdHotel"
                            asp-items="@ViewBag.Hotels"
                            class="form-select">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="IdHotel" class="text-danger"></span>
                </div>

                <<div class="col-4 offset-2 row">
                    <div class="col">
                        <button type="submit" class="btn btn-info w-100"><i class="fa-solid fa-check"></i></button>
                    </div>
                    <div class="col">
                        <a class="btn btn-danger w-100" asp-action="Index"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
