@model HotelModel;
@{
    ViewData["Title"] = "Nuevo Hotel";
}

<h1>Nuevo Hotel</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div asp-validation-summary="ModelOnly"></div>

            <form asp-action="Create" onsubmit="return confirmAction();">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="hotelName" class="form-label">Nombres</label>
                    <input asp-for="hotelName" type="text" class="form-control" />
                    <span asp-validation-for="hotelName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="hotelInfo" class="form-label">Descripcion</label>
                    <input asp-for="hotelInfo" type="text" class="form-control" />
                    <span asp-validation-for="hotelInfo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="hotelPhone" class="form-label">Teléfono</label>
                    <input asp-for="hotelPhone" type="text" class="form-control" />
                    <span asp-validation-for="hotelPhone" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="hotelEmail" class="form-label">Email</label>
                    <input asp-for="hotelEmail" type="text" class="form-control" />
                    <span asp-validation-for="hotelEmail" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="hotelAddress" class="form-label">Dirección</label>
                    <input asp-for="hotelAddress" type="text" class="form-control" />
                    <span asp-validation-for="hotelAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="hotelCategory" class="form-label">Categoria</label>
                    <input asp-for="hotelCategory" type="text" class="form-control" />
                    <span asp-validation-for="hotelCategory" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a href="@Url.Action("Index", "Hotel")" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script>
        function confirmAction() {
            if (confirm('¿Estás seguro de agregar este hotel?')) {
                return true; // Si el usuario hace clic en "Aceptar", el formulario se envía al servidor
            } else {
                window.location.href = '@Url.Action("Index", "Hotel")'; // Redirigir al usuario al índice si hace clic en "Cancelar"
                return false; // Devolver false para cancelar el envío del formulario
            }
        }
    </script>
}